# Binarios compilados (Go genera ejecutables independientes)
*.exe
*.exe~
*.dll
*.so
*.dylib
customer-api

# Variables de entorno locales (las usaremos más adelante)
.env

# Ejecutable temporal de desarrollo
tmp/main

# Carpetas de IDEs comunes
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?